.advertencia{
    color: aliceblue;
    display: inline-flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.iconito{
    float: left;
    width: 17px; 
    height: 17px;
} 

.letra-adver{
    font-weight: bold;
}


/* RESPONSIVE DESING */
/*PC*/
@media screen and (min-width: 768px) and (max-width: 1600px) {
    .iconito{
        margin-top: -16px;
        padding-left: 112px;
    }
    .letra-adver{
        font-size: 11px;
        margin-top: -16px;
        padding-left: 4.8px;
    }
}

/*Tablet*/
@media screen and (min-width: 481px) and (max-width: 767px) {
    .iconito{
        margin-top: -16px;
        padding-left: 40px;
    }
    .letra-adver{
        font-size: 13px;
        margin-top: -16px;
        padding-left: 4.8px;
    }
}     

/*Mobile*/
@media screen and (max-width: 480px) {
    .iconito{
        margin-top: 1.6px;
        padding-left: 32px;
    }
    .letra-adver{
        font-size: 12px;
        margin-top: 1.6px;
        padding-left: 4.8px;
    }
}