
.contenedor-copiar{
    width: 100%;
}

.boton-copiar{
    background: #76453B;
    border: solid #B19470;
    border-radius: 10px;
    color: #F8FAE5;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    height: 40px;
    transition: 1s all;
    margin: auto;
    width: 40%;
}


/* RESPONSIVE DESING */
/*PC*/
@media screen and (min-width: 768px) and (max-width: 1600px) {
    .contenedor-copiar{
        height: 20%;
        margin-top: 20px;
    }
    .boton-copiar:hover{
        transform: scale(1.1);
    }
}

/*Tablet*/
@media screen and (min-width: 481px) and (max-width: 767px) {
    .contenedor-copiar{
        height: 32px;
        margin-top: -80px;
        margin-bottom: 24px;
    }
    .boton-copiar{
        padding-left: 96px;
        padding-right: 96px;
    }
}     

/*Mobile*/
@media screen and (max-width: 480px) {
    .contenedor-copiar{
        height: 32px;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .boton-copiar{
        padding-left: 96px;
        padding-right: 96px;
    }
}