.botones{
    align-items: center;
    display: flex;
    justify-content: center;
}

.boton-encriptar, .boton-desencriptar{
    background: #76453B;
    border-color: #F8FAE5;
    color: #F8FAE5;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}


/* RESPONSIVE DESING */
/*PC*/
@media screen and (min-width: 768px) and (max-width: 1600px) {
    .contenedor-botones{
        margin-left: -64px;
        gap: 20.8px;
    }
    .boton-encriptar, .boton-desencriptar{
        font-size: 16px;
        padding-top: 11.2px;
        padding-bottom: 11.2px;
        transition: 1s all;
    }
    .boton-encriptar:hover, .boton-desencriptar:hover{
        transform: scale(1.1);
    }
    .boton-encriptar{
        padding-left: 99.2px;
        padding-right: 99.2px;
    }
    .boton-desencriptar{
        padding-left: 80px;
        padding-right: 80px;
    }
}

/*Tablet*/
@media screen and (min-width: 481px) and (max-width: 767px) {
    .contenedor-botones{
        gap: 24px;
        margin-top: 32px;
        margin-left: 41.6px;
    }
    .boton-encriptar, .boton-desencriptar{
        font-size: 20px;
        padding-top: 14.4px;
        padding-bottom: 14.4px;
    }
    .boton-encriptar{
        padding-left: 115.2px;
        padding-right: 115.2px;
    }
    .boton-desencriptar{
        padding-left: 96px;
        padding-right: 96px;
    }
}     

/*Mobile*/
@media screen and (max-width: 480px) {
    .contenedor-botones{
        flex-wrap: wrap;
        gap: 24px;
        padding-left: -96px;
        margin-top: 24px;
    }
    .boton-encriptar, .boton-desencriptar{
        font-size: 18px;
        padding-top: 14.4px;
        padding-bottom: 14.4px;
    }
    .boton-encriptar{
        padding-left: 115.2px;
        padding-right: 115.2px;
    }
    .boton-desencriptar{
        padding-left: 96px;
        padding-right: 96px;
    }
}