.texto-encriptado{
    background: #F8FAE5;
    border-radius: 15px;
    box-sizing: border-box;
    border: solid #B19470;
    margin-right: 64px;
    overflow: hidden;
    width: 44%;
}

.relax-snoopy{
    box-sizing: border-box;
    height: 60%;
    padding-top: 80px;
    text-align: center;
    overflow: auto;
    width: 100%;
}

.contenedor-h3{
    color: #B19470;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    height: 18%;
    text-align: center;
    padding-top: 5px auto;
    margin-bottom: 32px;
    width: 100%;
}

.contenedor-parrafo{
    color: #B19470;
    font-family: 'Courier New', Courier, monospace;
    height: 20%;
    text-align: center;
    margin-top: -32px;
    width: 100%;
}


/* RESPONSIVE DESING */
/*PC*/
@media screen and (min-width: 768px) and (max-width: 1600px) {
    
}

/*Tablet*/
@media screen and (min-width: 481px) and (max-width: 767px) {
    .seccion2{
        margin: 64px 32px;
        width: 100%;
    }
    .contenedor-muneco{
        display: none;
    }
    .contenedor-h3{
        height: 144px;
        padding-top: 48px;
    }
    .ajustes-h3{
        font-size: 32px;
        line-height: 32px;
    }
    .contenedor-parrafo{
        margin-top: -128px;
        padding-top: 64px;
    }
    .ajustes-parrafo{
        font-size: 29px;
        line-height: 32px;
    }

    /* Ocultamos la imagen y el titulo encriptado */
    #ocultar-muneco{
        display: none;
    }
    #ocultar-titulo-encriptado{
        display: none;
    }
    /*  */
}     

/*Mobile*/
@media screen and (max-width: 480px) {
    .seccion2{
        margin: 32px 32px;
        width: 100%;
    }
    .contenedor-muneco{
        display: none;
    }
    .contenedor-h3{
        height: 144px;
        padding-top: 32px;
    }
    .ajustes-h3{
        font-size: 30px;
        line-height: 32px;
    }
    .contenedor-parrafo{
        margin-top: -16px;
        margin-bottom: -48px;
    }
    .ajustes-parrafo{
        font-size: 28px;
        line-height: 32px;
    }

    /* Ocultamos la imagen y el titulo encriptado */
    #ocultar-muneco{
        display: none;
    }
    #ocultar-titulo-encriptado{
        display: none;
    }
    /*  */
}